<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="BandaDeMusicaConnectionString" connectionString="Data Source=(local);Initial Catalog=BandaDeMusica;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SqlServices" connectionString="Data Source=(local);Initial Catalog=aspnetdb;Integrated Security=SSPI;" />

  </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
      <!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. En nuestro
            caso autenticación mediante formularios
        -->
     
      <!-- Un mes de autenticación 43200 minutos-->
      <authentication mode="Forms">
        <forms loginUrl="login.aspx" name=".ASPXFORMSAUTH" timeout ="43200" />
      </authentication>
      
      <!-- Los usuarios no autenticados (representados por "?") no tienen acceso a esta aplicación -->
      <authorization>
        <deny users="?" />
      </authorization>

      <!-- Habilitación de la característica de la administración de roles. -->
      <roleManager defaultProvider="SqlProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
        <providers>
          <!-- ¡¡¡Ojo!!!. Establecer el nombre de la aplicación-->
          <add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="SqlServices" applicationName="BandadeMusicaconRoles" />
        </providers>
      </roleManager>

      <!-- Habilitación de la característica de la administración de membresía. -->
      <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
        <providers>
          <!-- ¡¡¡Ojo!!!. Establecer el nombre de la aplicación-->
          <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SqlServices" applicationName="BandadeMusicaconRoles" />
        </providers>
      </membership>
      
    </system.web>

  <!-- Concesión de permiso a los usuarios anónimos -->
  <location path="contenidos/visitante">
    <system.web>
      <authorization>
        <!-- Acceso a todos los usuarios-->
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <!-- Concesión de permisos a roles -->
  <location path="contenidos/administrador">
    <system.web>
      <authorization>
        <!-- se concede permiso al rol Administrador y se deniega al resto-->
        <allow roles="1" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="contenidos/musico">
    <system.web>
      <authorization>
        <!-- se concede permiso al rol usuario y al administrador-->
        <allow roles="2" />
        <allow roles="1" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
   
  
    <!-- Deshabilitación de las validaciones no intrusivas -->
    <appSettings>
         <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>

  <!-- Se establece login.aspx como documento predeterminado en IIS -->
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
